# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

# For Loops

In [3]:
# for keyword, counter/iterator, in keyword, object

for i in range(10):
    print(i)

name = 'John Kim'
for letter in name:
    print(letter)

for i in range(len(name)):
    print(name[i])

0
1
2
3
4
5
6
7
8
9
J
o
h
n

K
i
m
J
o
h
n

K
i
m

##### Using 'in' keyword

In [4]:
for i in range(15):
    print(i**2)
#in is what accesses the items in an iterable

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

##### Continue Statement

In [8]:
#will continue to the next iteration
for i in range(20):
    print(i)

for i in range(20):
    if i == 5 or i == 6:
        continue #skips if 5 or 6
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
0
1
2
3
4
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [9]:
# will break out of current loop
for i in range(10):
    print(i)

print("\n")

for i in range(10):
    if i == 6:
        break #if 6, breaks. does not continue.
    print(i)

0
1
2
3
4
5
6
7
8
9


0
1
2
3
4
5

##### Pass Statement

In [13]:
# mostly used as a placeholder, and will continue on same iteration\

for i in range(20):
    pass #todo: come do things with this later

def my_func():
    pass #if this did not have pass, code would not commpile becuase there is expected code here

def my_func2():
    for i in range(10):
        print(i)

my_func2()

IndentationError: expected an indented block (584808506.py, line 9)

##### Double For Loops

In [17]:
for i in range(5):
    for j in range(5):
        print("i =", i, "j =", j)

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

In [19]:
for i in range(5):
    for j in range(5):
        print(i+j)

0
1
2
3
4
1
2
3
4
5
2
3
4
5
6
3
4
5
6
7
4
5
6
7
8

In [38]:
#Dictionary tidbit. for optimal time complexity, avoid using nested for loops. use dictionaries for multi-list iterations

for num in my_list:
    if num in my_list2: #checks each item in my_list2 for comparison. time complexity not good
        print(num)
####        
my_string = "Hello my name is John. This is a cool class This is cool Have a nice day cool"

#counts how many instances of each value
my_dict = {}
for char in my_string.split():
    if char not in my_dict:
        my_dict[char] = 1
    else:
        my_dict[char] += 1
print(my_dict)

2
6
10
{'Hello': 1, 'my': 1, 'name': 1, 'is': 3, 'John.': 1, 'This': 2, 'a': 2, 'cool': 3, 'class': 1, 'Have': 1, 'nice': 1, 'day': 1}

### While Loops

In [41]:
#while keyword, condition statement
#while loop will run based on the condition statement

counter = 0
while counter < 10:
    print(counter)
    counter += 1

print('\n')

num = 0
while num < 15:
    print(num**2)
    num += 1

0
1
2
3
4
5
6
7
8
9


0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

##### looping 'While True'

In [43]:
#true as a condition for while loop to run
game_over = False
while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

In [ ]:
game = True
print(game)

my_list = [1, 2, 3, 4, 5, 6]
index = 0
while game:
    if my_list[index] == 4:
        game = False
    print(my_list[index])
    index += 1

##### While & For Loops Used Together

In [52]:
#generally not good practice to use a while & for together. not good time complexity

num = 0

while num < 5:
    print("\nWhile Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: " + str(i))
    num += 1

While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

##### The Range Function

In [53]:
#range(start, stop, step) - stop is required. start defaults to 0 if none is given. step defaults to 1 if none given.

for i in range(10):
    print(i)
print("\n")
for i in range(1, 10): #start, stop
    print(i)
print('\n')
for i in range(1, 10, 3): #start, stop, step
    print(i)

0
1
2
3
4
5
6
7
8
9


1
2
3
4
5
6
7
8
9


1
4
7

### String Manipulation Exercise

In [54]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name
# Print each new name
for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [55]:
our_list = []
names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]
numbers = [1, 2, 3, 4, 5, 6, 10]
print(names)

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']

##### Indexing a List

In [60]:
#[start: stop: step] --> last item[-1]

names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]

#single index
print(names[2])

#print starting at index 1 and going to the end of the list
print(names[1:])

#print starting at the beginning of the list and go to the specified index
print(names[:2])

#print starting at index 1 and stepping by 2
print(names[1::2])

#print starting at the back and going to the front
print(names[::-1])

Austin
['Tenzin', 'Austin', 'Dylan', 'Mohammad']
['Ryan', 'Tenzin', 'Austin', 'Dylan']
['Ryan', 'Tenzin']
['Tenzin', 'Dylan']
['Mohammad', 'Dylan', 'Austin', 'Tenzin', 'Ryan']

### List Methods

##### .append()

In [77]:
names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]
names.append('Alex')
names.append('John')
print(names)

names.append(3)
print(names)

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex', 'John']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex', 'John', 3]

In [66]:
#appending multiple items

names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]
names2 = ["Bill", "Ted"]

for name in names2:
    names.append(name)
print(names)

names3 = names + names2
print(names3)

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Bill', 'Ted']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Bill', 'Ted', 'Bill', 'Ted']

##### .insert()

In [79]:
#our_list.insert(index, value)
names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]
names.insert(3, "Sam")
print(names)

names.insert(4, 10)
print(names)

new_data = [5, 6, 1, 10, 11, 334, 1341, 1515]

for i in range(len(new_data)):
    if i == 3:
        new_data.insert(i, names[i])
print(new_data)

['Ryan', 'Tenzin', 'Austin', 'Sam', 'Dylan', 'Mohammad']
['Ryan', 'Tenzin', 'Austin', 'Sam', 10, 'Dylan', 'Mohammad']
[5, 6, 1, 'Sam', 10, 11, 334, 1341, 1515]

##### .pop()

In [83]:
# default is the ast value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable 

names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]

bye_bye_name = names.pop(3)
print(bye_bye_name)
print(names)

print(names.pop())
print(names)

Dylan
['Ryan', 'Tenzin', 'Austin', 'Mohammad']
Mohammad
['Ryan', 'Tenzin', 'Austin']

##### .remove()

In [85]:
# value to be removed, not an index
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']
names.remove('Bob')
print(names)

#remove all instances of 'Bob'
while 'Bob' in names:
    names.remove('Bob')

print(names)

['Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']
['Billy', 'Berry', 'Bertha', 'Bert']

In [86]:
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert'] ##ASK ALEX ABOUT THIS

for name in names:
    if name == 'Bob':
        names.remove(name)
print(names)

['Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

### Working With Lists

##### del()

In [93]:
# index to be removed, not value 
# BE CAREFUL with del, can cause an indexing error if not used carefully
names = ['Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert'] 
del(names[0])
print(names)

#del("Berry") does not work. "cannot delete literal"

['Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

##### min()

In [98]:
#return smallest item in a list

nums = [3, 6, 1, 5, 10, -12]
print(min(nums))

names = ["Ryan", "Alex", "Zoop", "Xenry", "alex"] #prioritzes alphabetical and capitalized
print(min(names))

-12
Alex

##### max()

In [99]:
print(max(nums))
print(max(names)) #shows lowercase as max, because it comes after uppercase

10
alex

##### sum()

In [101]:
#needs to be integers or floats
print(sum(nums))

13

##### sorted()

In [103]:
#will return a new sorted list. will create a new variable

numbers = [3, 6, 1, 5, 10, -12]

print(sorted(numbers))
sorted_nums = sorted(numbers)
print(sorted_nums)

[-12, 1, 3, 5, 6, 10]
[-12, 1, 3, 5, 6, 10]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [105]:
numbers = [3, 6, 1, 5, 10, -12]

print("Numbers before sort", numbers)
numbers.sort()
print("Numbers after sort", numbers)
print(numbers.sort())

Numbers before sort [3, 6, 1, 5, 10, -12]
Numbers after sort [-12, 1, 3, 5, 6, 10]
None

##### Copying a List

In [106]:
# [:] copies a list, doesn't alter original'
numbers = [3, 6, 1, 5, 10, -12]
new_list = numbers[:]

print(numbers)
print(new_list)

[3, 6, 1, 5, 10, -12]
[3, 6, 1, 5, 10, -12]

##### Looping Through Lists

In [110]:
#Two ways to Loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["John", "Laura", "Bill", "Richard", "Sarah", "Bilbo"]

#looping by index
for i in range(len(names)):
    print(names[i])

#Return the index of Laura
for i in range(len(names)):
    if names[i] == 'Laura':
        print(i)
    

print("\n")

#looping by value
for name in names:
    print(name)

John
Laura
Bill
Richard
Sarah
Bilbo
0
1
2
3
4
5


John
Laura
Bill
Richard
Sarah
Bilbo

In [113]:
#enumerate
for i, v in enumerate(names):
    if v == "Laura":
        print(i)

for i, v in enumerate(names):
    print(i,v)

1
0 John
1 Laura
2 Bill
3 Richard
4 Sarah
5 Bilbo

##### 'in' keyword

In [114]:
names = ["John", "Laura", "Bill", "Richard", "Sarah", "Bilbo"]

if "Richard" in names:
    print("Ranger")
else:
    print("Not a ranger")

Ranger

In [115]:
for name in names:
    if name[0] == "B":
        print("B's Knees")

B's Knees
B's Knees

In [119]:
for name in names:
    if "R" in name:
        print("Richard")
    else:
        print("Nope")

print('\n')
##To save time complexity doing the same thing...
for name in names:
    if "R" in name[0]:
        print("Richard")
    else:
        print("Nope")
        
##To save time complexity doing the same thing...

Nope
Nope
Nope
Richard
Nope
Nope


Nope
Nope
Nope
Richard
Nope
Nope

In [121]:
for i in range(len(names)):
    for j in range(len(names[i])):
        print(names[i][j])

J
o
h
n
L
a
u
r
a
B
i
l
l
R
i
c
h
a
r
d
S
a
r
a
h
B
i
l
b
o

##### 'not in' keyword

In [122]:
rangers = ["John", "Laura", "Bill", "Richard", "Sarah", "Bilbo"]

if "Frederick" not in rangers:
    print("Frederick is not a Ranger, boooo Frederick")

Frederick is not a Ranger, boooo Frederick

##### Checking an Empty List

In [127]:
l_2 = []
l_3 = None #None is not same as empty list

if l_2 == []:
    print("That is an empty list.")
    
if l_3 == l_2:
    print("yes")
else:
    print("no")

That is an empty list.
no

##### Removing Instances with a Loop

In [129]:
names = ["John", "Laura", "Bill", "Richard", "Sarah", "Bilbo", "Ryan"]
print(names)
#while, remove
while "Ryan" in names:
    names.remove("Ryan")
print(names)

#for loop, remove
for name in names:
    if name == "Sarah":
        names.remove("Sarah")
print(names)

['John', 'Laura', 'Bill', 'Richard', 'Sarah', 'Bilbo', 'Ryan']
['John', 'Laura', 'Bill', 'Richard', 'Sarah', 'Bilbo']
['John', 'Laura', 'Bill', 'Richard', 'Bilbo']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [141]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
result = []

def nameRemoval(list):
    for name in list:
        if name not in result:
            result.append(name)

nameRemoval(names)
print(result)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

In [149]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']

my_dict = {}

for name in names:
    my_dict[name] = 1
        
print(list(my_dict.keys()))
print(list(my_dict.values()))
print(my_dict)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']
[1, 1, 1, 1, 1, 1, 1, 1]
{'connor': 1, 'bob': 1, 'evan': 1, 'max': 1, 2: 1, 3: 1, 4: 1, 'kevin': 1}

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [159]:
nums = [2, 4, 5, 6, 7, 8, 9 , 10]
nums_squared = []

for num in nums:
    nums_squared.append(num**2)
    
print(nums_squared)
print('\n')

#list comprehension way #saves space but rarely saves time
bums_squared = [num**2 for num in nums] #this is creating the list too, hence bums_squared not being defined previously
print(bums_squared)
nums_squared = [x**2 for x in nums if x%2 == 0]
print(nums_squared)

[4, 16, 25, 36, 49, 64, 81, 100]


[4, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [161]:
#list string compehension
names = ["John", "Laura", "Bill", "Richard", "Sarah", "Bilbo", "Ryan"]

first_letters = [name[0] for name in names]

print(first_letters)

['J', 'L', 'B', 'R', 'S', 'B', 'R']

In [185]:
names = ["John", "Laura", "Bill", "Richard", "Sarah", "Bilbo", "Ryan", "Sean"]

#boring for loop
s_names = []
for name in names:
    if name[0] == "S":
        s_names.append(name)    
print(s_names)

#conditional in list comprehension always comes after the for
s_names = [x for x in names if x[0] == 'S'] #x and name interchangable
print(s_names)

print('\n')

#different syntax with longer condition
s_r_names = [name if name[0] == 'S' else name+"'s'" for name in names]
print(s_r_names)

['Sarah', 'Sean']
['Sarah', 'Sean']


["John's'", "Laura's'", "Bill's'", "Richard's'", 'Sarah', "Bilbo's'", "Ryan's'", 'Sean']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [181]:
#tuples cannot be changed, they are immutable


tup_1 = (1, 2, 3) #one way to create a tuple
tup_2 = 4, 5, 6 #another way to create a tuple
print(tup_1)
print(tup_2)

print(type(tup_1))

print(tup_1[1])
print(tup_2[2])

print("tuple length", len(tup_2))

for num in tup_1:
    print(num)
    
for i in range(len(tup_2)):
    print(tup_2[i])

(1, 2, 3)
(4, 5, 6)
<class 'tuple'>
2
6
tuple length 3
1
2
3
4
5
6

##### sorted()

In [198]:
tup = (20, 5, 1, 30, 91, 123)
#tup.sort() doesnt work, tuple cannot be changed

print(sorted(tup)) #creates a new sorted list out of tuple
print(tuple(sorted(tup)))

some_list = [1, 4, 9, 10, -30]

#combine_list = some_list + tup does not wor. cannot concatenate list to tuple

new_tup = tuple(some_list) #converts list to tuple

new_new_tup = new_tup + tup
print(new_new_tup)

[1, 5, 5, 5, 5, 5, 20, 30, 91, 123]
(1, 5, 5, 5, 5, 5, 20, 30, 91, 123)
(1, 4, 9, 10, -30, 20, 5, 1, 30, 91, 123, 5, 5, 5, 5)

##### Adding values to a Tuple

In [201]:
tup_1 = (1, 2, 3, 4)

tup_1 = tup_1 + (5, )
print(tup_1)

(1, 2, 3, 4, 5)

In [203]:
#list concatenation *

my_list = [1, 2, 3, 4, 5]
my_list2 = [6, 7, 8 ,9, 10]

new_list = my_list + my_list2

print(new_list)

my_list += my_list2
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [205]:
alist = [1,11,14,5,8,9]
blist = []

for num in alist:
    if num < 10:
        blist.append(num)

print(blist)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [20]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

l_3 = l_1 + l_2

l_3.sort()
print(l_3)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]